
Back/.idea/

Back/vendor/

# compiled output
Front/dist
Front/tmp
Front/out-tsc
# Only exists if Bazel was run
Front/bazel-out

# dependencies
Front/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
Front/.idea
Front/.project
Front/.classpath
Front/.c9/
Front/*.launch
Front/.settings/
Front/*.sublime-Front

# IDE - VSCode
Front/.vscode/*
Front/!.vscode/settings.json
Front/!.vscode/tasks.json
Front/!.vscode/launch.json
Front/!.vscode/extensions.json
Front/.history/*

# misc
Front/.sass-cache
Front/connect.lock
Front/coverage
Front/libpeerconnection.log
Front/npm-debug.log
Front/yarn-error.log
Front/testem.log
Front/typings

# System Files
Front/.DS_Store
Front/Thumbs.db
