
snir-co-project-dev/.idea/

snir-co-project-dev/vendor/

# compiled output
Madera/dist
Madera/tmp
Madera/out-tsc
# Only exists if Bazel was run
Madera/bazel-out

# dependencies
Madera/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
Madera/.idea
Madera/.project
Madera/.classpath
Madera/.c9/
Madera/*.launch
Madera/.settings/
Madera/*.sublime-Front

# IDE - VSCode
Madera/.vscode/*
Madera/!.vscode/settings.json
Madera/!.vscode/tasks.json
Madera/!.vscode/launch.json
Madera/!.vscode/extensions.json
Madera/.history/*

# misc
Madera/.sass-cache
Madera/connect.lock
Madera/coverage
Madera/libpeerconnection.log
Madera/npm-debug.log
Madera/yarn-error.log
Madera/testem.log
Madera/typings

# System Files
Madera/.DS_Store
Madera/Thumbs.db
