{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}

            
    <div class="container-fluid">
        <div class="col w-50 mx-auto border mt-5">
            <img src = "http://madera-construction.fr/images/site/logo.png" alt="Madera LOGO" width = "50%">
            </br>
            <!-- Adresse entreprise a gauche --> 
            <div> 
                <p> MADERA
                    Rue Enzo Ferrari
                    85000 La Roche sur Yon 
                </p>
            </div>

            <!-- Info devis a mettre droite  -->

            <!-- Adresse client -->
            <div> 
                <h1>Adresse client</h1>

            </div>

            <!-- Nom du projet / plan  -->
            <h1> </h1>

            <!-- Affichage sol / coupe / toit -->

            <!-- Liste des modules + prix  -->
                <!-- Sous listes des composants + prix -->
            


            <!-- Sommes + prix  -->
            

        </div>
    </div>


    <!-- Bouton suppression et validation du devis -->
{% endblock %}
