<form method="post" action="{{ path('madera_client_delete', {'id': madera_client.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ce client?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ madera_client.id) }}">
    <button class="btn btn-danger">Suppression client</button>
</form>
