{% extends 'base.html.twig' %}

{% block title %}Edit MaderaClient{% endblock %}

{% block body %}
    <h1>Edit MaderaClient</h1>

    <div class="container mt-5" margin-top="15dp">
        {{ include('madera_client/_form.html.twig', {'button_label': 'Update'}) }}
        <a class="btn btn-success" href="{{ path('madera_client_index') }}">back to list</a>
        {{ include('madera_client/_delete_form.html.twig') }}
    </div>
{% endblock %}
