<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img src="http://madera-construction.fr/images/site/logo.png" alt="Madera Construction"  width="120">
    <span>MADERA</span>
</div>
  
  <div class="content" role="main">
  
    
    <div class="container">
        <h1>Hero Form</h1>
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required>
          </div>
    
          <div class="form-group">
            <label for="alterEgo">Alter Ego</label>
            <input type="text" class="form-control" id="alterEgo">
          </div>
    
          <button type="submit" class="btn btn-success">Submit</button>
    
        </form>
    </div>
    
  
    
  
   
  
  </div>