{% extends 'base.html.twig' %}

{% block title %}Liste projet!{% endblock %}

{% block stylesheets %} 
            <link rel="canonical" href="https://getbootstrap.com/docs/4.0/components/scrollspy/">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  
{% endblock %}

{% block body %}
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
        <div class="row">
            <h4 class="highlighter-rouge">Projets <button type="button" class="btn btn-success" onclick="document.location.href='/projet/add';">Nouveau projet</button></h4> 
        </div>
    </main>

    <div class="container-fluid">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Nom projet</th>
                <th scope="col">Date création</th>
                <th scope="col">Date modification</th>
                <th scope="col">Commercial</th>
                <th scope="col">Plans</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td>Mark1</td>
                <td>12/02/2020</td>
                <td>12/02/2020</td>
                <td>Bernard</td>
                <td><button type="button" class="btn btn-success" onclick="document.location.href='/plan/liste';">Plans</button></td>
                </tr>
                <tr>
                <th scope="row">2</th>
                <td>Mark2</td>
                <td>12/02/2020</td>
                <td>12/02/2020</td>
                <td>Fabricemmanuel</td>
                <td><button type="button" class="btn btn-success" onclick="document.location.href='/plan/liste';">Plans</button></td>
                </tr>
                <tr>
                <th scope="row">3</th>
                <td>Mark3</td>
                <td>12/02/2020</td>
                <td>12/02/2020</td>
                <td>Didier</td>
                <td><button type="button" class="btn btn-success" onclick="document.location.href='/plan/liste';">Plans</button></td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
