{% extends 'base.html.twig' %}

{% block title %}Ajout plan!{% endblock %}

{% block stylesheets %} 
            <link rel="canonical" href="https://getbootstrap.com/docs/4.0/components/scrollspy/">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  
{% endblock %}

{% block body %}
    
    <div class="container mt-5" margin-top="15dp">
    <h1><span class="label label-default">Nouveau Plan</span></h1>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                <label for="inputNom4">Nom</label>
                <input type="text" class="form-control" id="inputNom4" placeholder="Nom">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                <label for="inputTelephone4">N° Telephone</label>
                <input type="text" class="form-control" id="inputTelephone4" placeholder="N° Telephone">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddresse">Addresse</label>
                <input type="text" class="form-control" id="inputAddresse" placeholder="152 avenue des champs Elysée 93000 Paris">
            </div>
            <button type="submit" class="btn btn-success">Ajout</button>
        </form>
    </div>

{% endblock %}
