{% extends 'base.html.twig' %}

{% block title %}Liste plan!{% endblock %}

{% block stylesheets %} 
            <link rel="canonical" href="https://getbootstrap.com/docs/4.0/components/scrollspy/">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  
{% endblock %}

{% block body %}
   
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
            <div class="row">
                    <h4 class="highlighter-rouge">Plans <button type="button" class="btn btn-success" onclick="document.location.href='/plan/add';">Nouveau plan</button></h4> 
            </div>
        </main>

        <div class="container-fluid">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom plan</th>
                    <th scope="col">Longueur</th>
                    <th scope="col">Largeur</th>
                    <th scope="col">Date modification</th>
                    <th scope="col">Devis</th>
                    <th scope="col">Informations</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">1</th>
                    <td>Plan 1</td>
                    <td>100</td>
                    <td>123</td>
                    <td>02/02/2020</td>
                    <td>Non généré</td>
                    <td><button type="button" class="btn btn-success" onclick="document.location.href='{{ "/plan/" ~ '1' ~ '/show'}}';">Informations</button></td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                    <td>Plan 2</td>
                    <td>100</td>
                    <td>123</td>
                    <td>02/02/2020</td>
                    <td>Validé</td>
                    <td><button type="button" class="btn btn-success" onclick="document.location.href='{{ "/infoPlan/" ~ '2' ~ '/show'}}';" >Informations</button></td>
                    </tr>
                    <tr>
                    <th scope="row">3</th>  
                    <td>Plan 3</td>
                    <td>100</td>
                    <td>123</td>
                    <td>02/02/2020</td>
                    <td>En attente</td>
                    <td><button type="button" class="btn btn-success" onclick="document.location.href='{{ "/infoPlan/" ~ '3' ~ '/show'}}';">Informations</button></td>
                    </tr>
                </tbody>
            </table>
        </div>





{% endblock %}
