{% block stylesheets %} 
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/components/scrollspy/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  
{% endblock %}
{% block body %} 

    <div class="container mt-5" margin-top="15dp">
    <h1><span class="label label-default">Plan</span></h1>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                <label for="inputNom4">Nom</label>
                <input type="text" class="form-control" id="inputNom4" placeholder="Nom">
                </div>
                <div class="form-group col-md-6">
                <label for="inputGamme4">Gamme</label>
                <input type="text" class="form-control" id="inputGamme4" placeholder="Gamme">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                <label for="inputCoupe4">Coupe</label>
                <input type="text" class="form-control" id="inputCoupe4" placeholder="Coupe">
                </div>
                <div class="form-group col-md-6">
                <label for="inputToit4">Toit</label>
                <input type="text" class="form-control" id="inputToit4" placeholder="Toit">
                </div>
            </div>
            <div class="form-group">
                <label for="inputSol">Sol</label>
                <input type="text" class="form-control" id="inputSol" placeholder="Sol">
            </div>
            <div class="form-row">
                <label for="inputNom4">Liste des modules</label>
            </div>
            <button type="submit" class="btn btn-success">Modifier</button>
        </form>  
        <form>
             <button type="submit" class="btn btn-success mt-2">Génération devis</button> 
             <button type="submit" class="btn btn-success mt-2">Validation devis</button>
        </form> 
    </div>
    
{% endblock %}
{% block javascripts %}{% endblock %}
