{% extends 'base.html.twig' %}

{% block title %}New MaderaPlan{% endblock %}

{% block body %}
    <div class="container mt-5" margin-top="15dp">
        <h1>Nouveau Plan</h1>

        {{ include('madera_plan/_form.html.twig') }}    

        <a href="{{ path('madera_plan_index') }}">back to list</a>
    </div>
{% endblock %}
