{% extends 'base.html.twig' %}

{% block title %}MaderaProjet{% endblock %}

{% block body %}
    
    
    <div class="container mt-5" margin-top="15dp">
        <h1><span class="label label-default">Projet</span></h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Nom projet</th>
                    <td>{{ madera_projet.nomProjet }}</td>
                </tr>
            </tbody>
        </table>

        <a class="btn btn-success" href="{{ path('madera_projet_index') }}">back to list</a>
        <a class="btn btn-success" href="{{ path('madera_projet_edit', {'id': madera_projet.id}) }}">edit</a>
        {{ include('madera_projet/_delete_form.html.twig') }}
    </div>

    
{% endblock %}
